# Dependencies
node_modules

# Build outputs
dist
build
*.tsbuildinfo

# Environment files
.env
.env.local
.env.*.local

# IDE files
.vscode/settings.json
.idea

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage
.nyc_output

# Cache
.cache
.parcel-cache
.next
.nuxt

# Amplify
amplify/mock-data
amplify/mock-api-resources.json
amplify/backend/amplify-meta.json
amplify/backend/.temp
amplify/backend/awscloudformation
amplify/team-provider-info.json
amplify/cli.json
.secret-*

# Cypress
cypress/videos
cypress/screenshots
cypress/downloads
